<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  <span>My App</span>

  <span class="example-spacer"></span>


  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon matBadge="15" matBadgeSize="large" class="text-white">notifications</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="menu">
    <mat-icon class="text-white">person_outline</mat-icon>
  </button> -->

   <!-- Profile Image -->
  <button mat-button class="profile-button" [matMenuTriggerFor]="menu">
    <img src="/img/avatar.jpg" alt="Profile" class="profile-image" />
  </button>

  <mat-menu #menu="matMenu">
    <div class="user-name text-primary" mat-menu-item>
    {{ userName }}
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item><mat-icon>account_circle</mat-icon>Profile</button>
    <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
    <button mat-menu-item><mat-icon>logout</mat-icon> Logout</button>
  </mat-menu>

</mat-toolbar>
