<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12">
      <h4>My Profile</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <mat-card appearance="outlined" class="profile-card mb-3">
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <img src="/img/avatar.jpg" class="img-fluid img-rounded profile-img img-thumbnail" alt="User Avatar" />
            </div>
            <div class="col-md-7">
              <h5 class="card-title">Ahetesham Shaikh</h5>
              <p class="card-subtitle mb-2 text-muted">Frontend Developer</p>
              <div class="mb-2 info-list">
                <mat-icon class="info-icon">place</mat-icon>
                Shani Peth, Jalgaon, Maharashtra, India.
              </div>
              <div class="mb-2 info-list">
                <mat-icon class="info-icon">email</mat-icon>
                ahetesham.ma&#64;gmail.com
              </div>
              <div class="mb-2 info-list">
                <mat-icon class="info-icon">call</mat-icon>
                +91-9403381578
              </div>
            </div>
            <div class="col-md-3">
              <h5 class="card-title">Social Media</h5>
              <div class="social-icons">
                <button mat-icon-button aria-label="Settings">
                  <img src="/img/linkedin.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Logout">
                  <img src="/img/whatsapp.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Home">
                  <img src="/img/facebook.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Profile">
                  <img src="/img/instagram.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Profile">
                  <img src="/img/twitter.png" alt="Facebook" class="social-icon" />
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <h6 class="card-title mb-2 text-primary">About Me:</h6>
              <p class="card-text">
                I am a passionate frontend developer with a keen interest in creating beautiful and functional user
                interfaces. I have experience in various frontend technologies and frameworks, and I am always eager to
                learn and improve my skills.
              </p>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
              <h6 class="card-title text-primary mb-2">Technologies:</h6>
              <mat-chip-set aria-label="tech">
                <mat-chip><img matChipAvatar src="/img/angular.png"> Angular</mat-chip>
                <mat-chip><img matChipAvatar src="/img/ts.png"> Typescript</mat-chip>
                <mat-chip><img matChipAvatar src="/img/js.png"> Javascript</mat-chip>
                <mat-chip><img matChipAvatar src="/img/html.png"> HTML5</mat-chip>
                <mat-chip><img matChipAvatar src="/img/css.png"> CSS3</mat-chip>
                <mat-chip><img matChipAvatar src="/img/bootstrap.png"> Bootstrap</mat-chip>
                <mat-chip><img matChipAvatar src="/img/api.png"> REST API</mat-chip>
                <mat-chip><img matChipAvatar src="/img/json.png"> JSON</mat-chip>
                <mat-chip><img matChipAvatar src="/img/figma.png"> Figma</mat-chip>
                <mat-chip><img matChipAvatar src="/img/photoshop.png"> Photoshop</mat-chip>
              </mat-chip-set>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
              <h6 class="card-title text-primary mb-2">Self Ratings:</h6>
              <div class="mb-3">
                <div class="progress-label-text">Angular: 80%</div>
                <mat-progress-bar mode="determinate" [value]="80"></mat-progress-bar>
              </div>
              <div class="mb-3">
                <div class="progress-label-text">Typescript/Javascript: 70%</div>
                <mat-progress-bar mode="determinate" [value]="70"></mat-progress-bar>
              </div>
              <div class="mb-3">
                <div class="progress-label-text">Bootstrap: 80%</div>
                <mat-progress-bar mode="determinate" [value]="80"></mat-progress-bar>
              </div>
               <div class="mb-3">
                <div class="progress-label-text">HTML/CSS: 85%</div>
                <mat-progress-bar mode="determinate" [value]="85"></mat-progress-bar>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-content>
          <h6 class="card-title mb-2 text-primary">Education:</h6>

          <h6 class="card-title mt-3 text-muted">Highest Qualification:</h6>
          <p class="card-text">
            Master in Computer Application. <small>(2015 - 2017)</small>
          </p>
        </mat-card-content>
        <mat-card-content>
          <h6 class="card-title mt-3 text-muted">Graduation:</h6>
          <p class="card-text">
            B.Sc in Computer Science. <small>(2012 - 2015)</small>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-content>
          <h6 class="card-title mb-2 text-primary">Experience:</h6>

          <h6 class="card-title mt-3 text-muted">Angular Developer:</h6>
          <p class="card-text">
            LearningMate, Mumbai. <small>(December 2022 - November 2023)</small>
          </p>
        </mat-card-content>
        <mat-card-content>
          <h6 class="card-title mt-3 text-muted">Frontend Developer:</h6>
          <p class="card-text">
            7tech IT Service Pvt. Ltd. <small>(October 2017 to November 2021)</small>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
