.profile-card{
  background: rgba(3, 169, 244, 0.1607843137);
  color: #2196f3;
  border: 0.5px solid #2196f3;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}
// .profile-img{
//  background: #03a9f429;
// }
.card-subtitle{
  color: #607d8b !important;
}
.info-list{
  display: flex;
  align-items: center;
}
.info-icon{
  margin-right: 8px;
}
.social-icons{
  // display: flex;
  flex-direction: row;
  gap: 10px;
}
mat-card:hover{
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 0.5px solid #2196f3;
}
.progress-label-text {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}
