<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12">
      <h4>My Profile</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <mat-card appearance="outlined" class="profile-card mb-3">
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <img src="/img/avatar.jpg" class="img-fluid img-rounded profile-img img-thumbnail" alt="User Avatar" />
            </div>
            <div class="col-md-7">
              <h5 class="card-title">Ahetesham Shaikh</h5>
              <p class="card-subtitle mb-2 text-muted">Frontend Developer</p>
              <div class="mb-2 info-list">
                <mat-icon class="info-icon">place</mat-icon>
                Shani Peth, Jalgaon, Maharashtra, India.
              </div>
              <div class="mb-2 info-list">
                <mat-icon class="info-icon">email</mat-icon>
                ahetesham.ma&#64;gmail.com
              </div>
              <div class="mb-2 info-list">
                <mat-icon class="info-icon">call</mat-icon>
                +91-9403381578
              </div>
            </div>
            <div class="col-md-3">
              <h5 class="card-title">Social Media</h5>
              <div class="social-icons">
                <button mat-icon-button aria-label="Settings">
                  <img src="/img/linkedin.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Logout">
                  <img src="/img/whatsapp.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Home">
                  <img src="/img/facebook.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Profile">
                  <img src="/img/instagram.png" alt="Facebook" class="social-icon" />
                </button>
                <button mat-icon-button aria-label="Profile">
                  <img src="/img/twitter.png" alt="Facebook" class="social-icon" />
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <h6 class="card-title mb-2">About Me</h6>
          <p class="card-text">
            I am a passionate frontend developer with a keen interest in creating beautiful and functional user
            interfaces. I have experience in various frontend technologies and frameworks, and I am always eager to
            learn and improve my skills.
          </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
