<div class="container-fluid vh-100 p-0">
  <div class="row h-100">

    <!-- Left Section: Image (Hidden on small screens) -->
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-light">
      <img src="/img/signup.jpg" class="img-fluid login-bg" alt="Login Image" />
    </div>

    <!-- Right Section: Login Card -->
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <mat-card appearance="outlined" style="width: 100%; max-width: 400px;">
        <mat-card-header>
          <mat-card-title> Create account</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="signUpFrm" (ngSubmit)="onSubmit()">
          <mat-card-content>

            <mat-form-field class="example-full-width">
              <mat-label>Name:</mat-label>
              <input matInput placeholder="john Doe" formControlName="name" required="" />
              <mat-error *ngIf="signUpFrm.get('name')?.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Phone:</mat-label>
              <input matInput placeholder="9403381578" formControlName="phone" required="" />

              <mat-error *ngIf="signUpFrm.get('phone')?.hasError('required')">
                Phone is required
              </mat-error>
              <mat-error *ngIf="signUpFrm.get('phone')?.hasError('pattern')">
                Enter a valid 10-digit phone number
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email:</mat-label>
              <input matInput placeholder="john@gmail.com" formControlName="email" required="" />

              <mat-error *ngIf="signUpFrm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="signUpFrm.get('email')?.hasError('email')">
                Enter a valid email
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password:</mat-label>
              <input matInput placeholder="123@abc" type="password" formControlName="password" required="" />

              <mat-error *ngIf="signUpFrm.get('password')?.hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="signUpFrm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters
              </mat-error>
            </mat-form-field>

          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-flat-button type="submit" class="btn-purple" [disabled]="signUpFrm.invalid">Signup</button>
            <button mat-button type="button" routerLink="/login" color="dark">Login</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>

  </div>
</div>
