.footer {
  background-color: #2196f3 ;
  color: #fff;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
  // position: sticky;
  bottom: 0px;
}
.footer-text {
  font-size: 14px;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
