/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-purple {
  background-color: #6b5de2 !important;
}

.btn-purple:disabled {
  cursor: default;
  pointer-events: none;
  color: var(--mdc-filled-button-disabled-label-text-color,
    color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent));
  background-color: #ddd !important;
}


.mat-mdc-card-header {
  padding: 16px 16px 16px !important;
}

.text-white {
  color: #fff !important;
}
.bg-light{
  background-color: #fff !important;
}

/* Global Grid System */

.grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 15px;
}

/* Responsive Column Utilities */
.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
  .md\\:grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .md\\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .md\\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .sm\\:grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .sm\\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* styles.css or styles.scss */
/* Add this to your global styles.css or styles.scss */
.mat-mdc-snack-bar-container {
  &.toast-success {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.toast-error {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.img-rounded{
  border: 50%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
